{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Statut des emprunts</h1>

        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th onclick="sortTable(0)">Nom Complet <span class="sort-arrow" id="arrow-name">&#x2195;</span></th>
                <th onclick="sortTable(1)">Date d'emprunt <span class="sort-arrow" id="arrow-name">&#x2195;</span></th>
                <th onclick="sortTable(2)">Statut <span class="sort-arrow" id="arrow-name">&#x2195;</span></th>
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for borrow in borrows %}
                <tr>
                    <td>{{ borrow.user.name }}</td>
                    <td>{{ borrow.borrowDate ? borrow.borrowDate|date('Y-m-d') : '' }}</td>
                    <td>{{ borrow.status }}</td>
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('app_borrow_show', {'id': borrow.id}) }}" class="btn btn-info btn-sm">Afficher</a>
                        <a href="{{ path('app_borrow_edit', {'id': borrow.id}) }}" class="btn btn-warning btn-sm">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">Pas d'emprunt pour vous actuellement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if is_granted('ROLE_ADMIN') %}
        <div class="text-center mt-3">
            <a href="{{ path('app_borrow_new') }}" class="btn btn-success">Créer un nouvel emprunt</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
